/* Contiene el formato de la barra de navegación, el bloque de las certificaciones y el pie de página */

/* Formato al fondo de la aplicación */
html, body {
    background-color: rgb(245, 238, 238);
    font-family: Garamond;
    max-width: 1500px;
    padding: 4px;
}

/* Formato para el pie de página */
.pieDePagina {
    min-height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    margin-top: 3px;
}

.pieDePagina p {
    margin-top: 4px;
    padding: 10px 5px 0 5px;
    text-align: center;
    vertical-align: middle;
}

/* Formato para el bloque de certificaciones */
.contenedorCertificaciones {
    min-height: 50px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    margin-top: 3px;
}

.formatoCertificaciones {
    max-width: 45px;
    max-height: 45px;
}

.formatoCertificaciones1 {
    max-width: 60px;
    max-height: 40px;
}

/* Agregamos separación adicional a las certificaciones en dispositivos mas pequeños */
@media screen and (max-width: 316px) {
    .formatoCertificaciones {
        margin-top: 5px;
    }

    .formatoCertificaciones1 {
        margin-top: 5px;
    }
}